@use '../../../../common/typesAndValues/styleValues.scss' as sv;

.Template {
  .Lefter {
    > .LefterBody {
      > .AdminBtnRow_Object {
        color: sv.$SAKURA_TEXT;
        display: flex;
        flex-direction: row;
        gap: 8px;

        margin-left: 8px;

        ._icon {
          background-color: white;
          border-color: sv.$SAKURA_BORDER;
          border-radius: 28px;
          border-width: 2px;

          cursor: pointer;

          padding: 4px;

          font-size: 28px;
        }
        ._icon:hover {
          background-color: sv.$SAKURA_BG_70;
        }
      }
    }
  }
}
