@use '../../../../common/typesAndValues/styleValues.scss' as sv;

.Template {
  .Lefter {
    > ._LefterBody {
      .DirectoryView_Part {
        background-color: sv.$SAKURA_BG_70;

        border-color: sv.$SAKURA_BORDER;
        border-radius: 8px;
        border-width: 2px;

        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);

        display: flex;
        flex-direction: column;
        gap: 4px;

        min-height: 600px;

        overflow: auto;
        padding-bottom: 4px;
        padding-top: 4px;

        width: 250px;

        > ._container {
          display: flex;
          flex-direction: column;
        }

        ._dir_name {
          padding-right: 8px;
        }

        ._file_name {
          padding-right: 8px;
        }

        ._info_group {
          align-items: center;
          cursor: pointer;
          display: flex;
          flex-direction: row;

          user-select: none;
        }

        ._info_group:hover {
          background-color: #dddddd;
        }

        ._inner_container {
          display: flex;
          flex-direction: column;

          margin-left: 12px;
        }

        ._object {
          min-width: 100%;
          padding-top: 2px;
          padding-bottom: 2px;

          width: fit-content;
        }

        .DirInfo_Group {
          font-weight: 600;
        }
      }
      .DirectoryView_Part:hover {
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
      }
    }
  }
}
