@use '../../../../common/typesAndValues/styleValues.scss' as sv;

.Template {
  .Lefter {
    > .LefterBody {
      > .DirectoryView_Object {
        background-color: sv.$SAKURA_BG_70;

        border-color: sv.$SAKURA_BORDER;
        border-radius: 8px;
        border-width: 2px;

        display: flex;
        flex-direction: column;

        min-height: 600px;

        padding-bottom: 4px;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 4px;

        width: 250px;
      }
    }
  }
}
