@use '../../../../common/typesAndValues/styleValues.scss' as sv;

.Template {
  .Lefter {
    display: flex;
    flex-direction: row;
    height: fit-content;

    left: 32px;
    min-height: 600px;

    position: fixed;
    top: 100px;

    width: fit-content;

    ._LefterBody {
      display: flex;
      flex-direction: column;
      gap: 8px;

      height: fit-content;

      width: fit-content;

      opacity: 1;
      transition: transform 0.5s ease, opacity 0.5s ease;
      transform: translateX(0);

      &._close {
        opacity: 0; // 사라지듯
        transform: translateX(-250px); // 왼쪽으로 슬라이드 아웃
        pointer-events: none; // 닫힌 상태에서 클릭 방지
        width: 0px;
      }

      &._open {
        opacity: 1;
        transform: translateX(0); // 왼쪽으로 슬라이드 아웃
        width: fit-content;
      }
    }

    ._lefter_on_off {
      background-color: white;

      border-radius: 50%;
      border-color: sv.$SAKURA_BORDER;
      border-width: 2px;

      box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);

      color: sv.$SAKURA_TEXT;
      cursor: pointer;
      font-size: 24px;
      height: fit-content;

      margin-left: 8px;
      margin-top: 300px;
      padding: 6px;

      transition: transform 0.5s ease;

      user-select: none;

      &._close {
        opacity: 1; // 사라지듯
        transform: translateX(-250px); // 왼쪽으로 슬라이드 아웃
        pointer-events: none; // 닫힌 상태에서 클릭 방지
      }

      &._open {
        opacity: 1;
        transform: translateX(0); // 왼쪽으로 슬라이드 아웃
      }
    }

    ._lefter_on_off:hover {
      background-color: sv.$SAKURA_BG_70;
      box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.4);
    }
  }
}
