@use '../../../../common/typesAndValues/styleValues.scss' as sv;

.Template {
  .Righter {
    cursor: default;
    display: flex;
    flex-direction: row;
    height: fit-content;

    min-height: 600px;

    position: fixed;

    right: 32px;
    top: 100px;

    width: fit-content;

    ._RighterBody {
      display: flex;
      flex-direction: column;
      gap: 8px;

      height: fit-content;

      width: fit-content;

      opacity: 1;
      transition: transform 0.5s ease, opacity 0.5s ease;
      transform: translateX(0);

      &._close {
        opacity: 0; // 사라지듯
        transform: translateX(250px); // 오른쪽으로 슬라이드 아웃
        pointer-events: none; // 닫힌 상태에서 클릭 방지
        width: 0px;
      }

      &._open {
        opacity: 1;
        transform: translateX(0); // 오른쪽으로 슬라이드 아웃
        width: fit-content;
      }

      .AdminBtnRow_Part {
        color: #808080;
        display: flex;
        flex-direction: row;
        gap: 8px;

        margin-left: 8px;

        ._icon {
          background-color: white;
          border-color: #808080;
          border-radius: 28px;
          border-width: 2px;

          cursor: pointer;

          padding: 4px;

          font-size: 28px;
        }
        ._icon:hover {
          background-color: #f0f0f0;
        }
      }

      .ChatRoomList_Part {
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);

        background-color: #f0f0f0;

        border-color: #808080;
        border-radius: 8px;
        border-width: 2px;

        min-height: 600px;
        width: 250px;
      }
      .ChatRoomList_Part:hover {
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
      }
    }

    ._righter_on_off {
      background-color: white;

      box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);

      border-radius: 36px;
      border-color: #808080;
      border-width: 2px;

      color: #808080;
      cursor: pointer;
      font-size: 24px;
      height: fit-content;

      margin-right: 8px;
      margin-top: 300px;
      padding: 6px;

      transition: transform 0.5s ease;

      user-select: none;

      &._close {
        opacity: 1; // 사라지듯
        transform: translateX(250px); // 오른쪽으로 슬라이드 아웃
        pointer-events: none; // 닫힌 상태에서 클릭 방지
      }

      &._open {
        opacity: 1;
        transform: translateX(0); // 오른쪽으로 슬라이드 아웃
      }
    }

    ._righter_on_off:hover {
      background-color: #f0f0f0;
      box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.4);
    }
  }
}
