.MarkdownArea {
  * {
    overflow-wrap: break-word;
    white-space: normal;
    word-break: break-word;
  }

  h1 {
    font-size: 32px;
    line-height: 48px;
  }

  h2 {
    font-size: 26px;
    line-height: 40px;
  }

  h3 {
    font-size: 22px;
    line-height: 32px;
  }

  h4 {
    font-size: 18px;
    line-height: 32px;
  }

  h5 {
    font-size: 16px;
    line-height: 32px;
  }

  h6 {
    font-size: 14px;
    line-height: 28px;
  }

  // AREA1: 문서 편집용 div 블록

  [class^='block_'] {
    border-radius: 8px;
    border-width: 2px;

    margin-top: 16px;
    margin-bottom: 16px;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;

    transition: box-shadow 0.3s ease;
  }

  [class^='block_']:hover {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
  }

  div.block_blue {
    background-color: #ddddff;
    border-color: #8888ff;
  }
  div.block_cyan {
    background-color: #ddffff;
    border-color: #66dddd;
  }
  div.block_green {
    background-color: #ddffdd;
    border-color: #44ff44;
  }
  div.block_grey {
    background-color: #f8f8f8;
    border-color: #b8b8b8;
  }
  div.block_half_transparent {
    background-color: rgba(255, 255, 255, 0.45);
    border-color: rgba(0, 0, 0, 0.17);
  }
  div.block_orange {
    background-color: #ffeeb8;
    border-color: #ffbb88;
  }
  div.block_pink {
    background-color: #ffe0eb;
    border-color: #ff9999;
  }
  div.block_purple {
    background-color: #ffddff;
    border-color: #ff88ff;
  }
  div.block_red {
    background-color: #ffdddd;
    border-color: #ff8888;
  }
  div.block_yellow {
    background-color: #ffffdd;
    border-color: #d8d866;
  }
  div.block_white {
    background-color: #ffffff;
    border-color: #b8b8b8;
  }
}

// AREA2: 특정 조건 구성의 경우의 스타일

h1 {
  strong {
    display: inline-block;
    margin-top: 2px;
    margin-bottom: 8px;
  }
}

h2 {
  strong {
    display: inline-block;
    margin-top: 2px;
    margin-bottom: 8px;
  }
}

h3 {
  strong {
    display: inline-block;
    margin-top: 2px;
    margin-bottom: 6px;
  }
}
