@use '../../../common/typesAndValues/styleValues.scss' as sv;

.PostingPage {
  .ManageDirectory_Part {
    .DirectoryRow_Object {
      display: flex;
      flex-direction: column;

      user-select: none;
    }
  }
}
