.Template {
  > .Body {
    > .Page {
      > .PostingPage {
        .EditingFile_Part {
          background-color: white;

          border-color: #888888;
          border-radius: 8px;
          border-width: 2px;

          display: flex;
          flex-direction: column;

          height: fit-content;

          margin-left: 16px;

          position: relative;

          width: 1000px;

          button {
            background-color: transparent;

            border-color: #888888;
            border-radius: 8px;
            border-width: 2px;

            padding-left: 4px;
            padding-right: 4px;
            padding-top: 2px;
            padding-bottom: 2px;
          }

          button:hover {
            background-color: #dddddd;

            font-weight: 700;
          }

          button._isNoticeFile {
            background-color: #fff0f0;
            color: #ff4040;
          }
          button._isHiddenFile {
            background-color: #eeeeee;
            color: #dddddd;
          }

          .FileHeader_Object {
            border-color: #888888;
            border-bottom-width: 2px;

            display: flex;
            flex-direction: column;

            width: 100%;

            .HeaderTitle_Group {
              input {
                border-color: #888888;
                border-top-width: 2px;

                font-size: 24px;

                padding-left: 8px;
                padding-right: 8px;
                padding-top: 4px;
                padding-bottom: 4px;

                width: 100%;
              }
            }
            .HeaderBtnRow_Group {
              display: flex;
              flex-direction: row;
              gap: 8px;

              margin-left: auto;
              padding: 4px;
              user-select: none;
              width: fit-content;
            }
          }
          .FileContents_Object {
            height: 520px;
            padding-bottom: 4px;
            padding-top: 4px;

            width: 100%;

            textarea {
              height: 100% !important;

              min-height: 500px;
              overflow-y: auto;

              padding-bottom: 4px;
              padding-left: 8px;
              padding-right: 8px;
              padding-top: 4px;

              width: 100%;
            }
          }

          .CheckDelete_Object {
            align-items: center;

            border-color: #888888;
            border-radius: 8px;
            border-width: 2px;

            display: flex;
            flex-direction: column;
            height: 100px;

            justify-content: center;

            left: 102%;
            position: absolute;
            top: 0;

            user-select: none;
            width: 160px;
          }
        }
      }
    }
  }
}
