@use '../../../common/typesAndValues/styleValues.scss' as sv;

.Template {
  > .Body {
    > .Page {
      > .PostingPage {
        .ManageDirectory_Part {
          background-color: white;

          border-radius: 8px;
          border-width: 2px;
          border-color: sv.$SAKURA_BORDER;

          height: 600px;

          margin-left: 280px;

          padding-bottom: 4px;
          padding-top: 4px;

          width: 300px;

          input._dir {
            border-color: sv.$SAKURA_BORDER;
            border-width: 2px;

            padding-bottom: 2px;
            padding-top: 2px;
            padding-left: 4px;

            width: 100%;
          }

          input._file {
            border-color: #888888;
            border-width: 2px;

            padding-bottom: 2px;
            padding-left: 4px;
            padding-top: 2px;

            width: 100%;
          }

          ._icon_row {
            color: sv.$SAKURA_TEXT;
            font-size: 22px;

            &:hover {
              font-size: 26px;
            }
          }
        }
      }
    }
  }
}
