@use '../../../styles/values.scss' as v;

.Template {
  > .Body {
    > .Page {
      > .AdminLogs_Page {
        align-items: center;
        display: flex;
        flex-direction: column;

        min-height: 800px;

        padding-top: 20px;

        width: 100%;

        ._pageWrapper {
          align-items: center;
          display: flex;
          flex-direction: column;

          height: fit-content;

          min-width: 800px;

          width: fit-content;

          ._page_title {
            cursor: pointer;
            font-size: 32px;
            font-weight: 700;
            user-select: none;
          }

          .LogTable_Part {
            height: fit-content;
            margin-top: 16px;

            text-align: center;

            width: fit-content;

            > table {
              border-collapse: collapse;
              border-color: #888888;
              border-radius: 4px;
              border-width: 4px;

              user-select: none;

              width: fit-content;
            }

            > table > thead {
              border-color: #888888;
              border-bottom-width: 6px;

              font-size: 20px;

              th {
                border-color: #888888;
                border-width: 2px;
                cursor: pointer;
              }
              th:hover {
                background-color: #f0f0f0;
              }

              ._th_date {
                width: 150px;
              }
              ._th_userId {
                width: 150px;
              }
              ._th_gkdLog {
                width: 300px;
              }
              ._th_gkdstatus {
                width: 58px;
              }
              ._th_error {
                width: 58px;
              }
            }

            > table > tbody {
              border-color: #888888;
              border-width: 2px;

              font-size: 14px;
              line-height: 24px;

              > tr:hover {
                background-color: #f0f0f0;
              }

              > tr > td {
                border-color: #888888;
                border-width: 2px;
              }

              ._td_gkdstatus_icon_wrapper,
              ._td_error_icon_wrapper {
                height: 100%;
                position: relative;
                width: 100%;
              }

              ._object_modal {
                box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);

                cursor: default;
                display: flex;
                flex-direction: column;
                background-color: white;

                border-color: #8888ff;
                border-radius: 4px;
                border-width: 4px;

                height: fit-content;
                left: calc(100% - 8px);

                padding-bottom: 6px;
                padding-left: 6px;
                padding-right: 6px;

                position: absolute;
                top: 50%;
                user-select: text;
                width: fit-content;
                z-index: v.$AdminModal_Z_Index;

                ._objects_title {
                  font-size: 18px;
                  font-weight: 700;

                  line-height: 32px;

                  margin-bottom: 4px;
                  width: 100%;
                }

                ._objects_table {
                  border-collapse: collapse;
                  border-color: #c0c0c0;
                  border-radius: 4px;
                  border-width: 3px;

                  user-select: text;
                  table-layout: fixed;

                  width: fit-content;

                  > thead {
                    border-color: #c0c0c0;
                    border-bottom-width: 6px;

                    th {
                      background-color: #f0f0f0;
                      border-color: #c0c0c0;
                      border-width: 2px;
                      font-size: 18px;
                      font-weight: 700;
                    }
                  }

                  > tbody {
                    border-color: #c0c0c0;
                    border-width: 2px;

                    td {
                      border-color: #c0c0c0;
                      border-width: 1px;
                    }
                  }
                }
              }

              .GKDStatus_Object {
                ._th_key {
                  width: 100px;
                }
                ._th_value {
                  width: 200px;
                }
              }

              .GKDError_Object {
                ._objects_message {
                  font-size: 16px;
                  font-weight: 700;
                  line-height: 26px;
                  margin-bottom: 4px;
                  width: 100%;
                }

                ._th_key {
                  width: 100px;
                }
                ._th_value {
                  width: 200px;
                }
              }
            }
          }
        }
      }
    }
  }
}
