* {
  background-color: transparent;
  margin: 0;
  padding: 0;
}

blockquote {
  border-left: 4px solid #ccc;
  color: #666;
  font-style: italic;
  margin: 1em 0;
  padding-left: 1em;
}

.BTN_SHADOW {
  background-color: #ffffff;
}
.BTN_SHADOW:hover {
  background-color: #f8f8f8;
  box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.3);
  font-weight: 700;
}

.BTN_SAKURA {
  background-color: #faefe9;
  border-color: #f0b8b8;
  color: #f89890;
  font-weight: 700;
}
.BTN_SAKURA:hover {
  background-color: #fbf3ef;
  border-color: #f0b8b8;
  color: #f89890;
  font-weight: 700;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

p {
  white-space: pre;
}

span.ON_OFF_SIDEBAR {
  background-color: #ffffff;
}
span.ON_OFF_SIDEBAR:hover {
  background-color: #f8e8e0;
}
span.ON_OFF_SIDEBAR_GREY {
  background-color: #ffffff;
}
span.ON_OFF_SIDEBAR_GREY:hover {
  background-color: #dddddd;
}

textarea {
  outline: none;
  resize: none;
}
