* {
  background-color: transparent;
  margin: 0;
  padding: 0;
}

blockquote {
  border-left: 4px solid #ccc;
  color: #666;
  font-style: italic;
  margin: 1em 0;
  padding-left: 1em;
}

button {
  user-select: none;
}

h1 {
  font-size: 32px;
  line-height: 48px;
}

h2 {
  font-size: 24px;
  line-height: 40px;
}

h3 {
  font-size: 18px;
  line-height: 32px;
}

h4 {
  font-size: 16px;
  line-height: 32px;
}

h5 {
  font-size: 14px;
  line-height: 28px;
}

h6 {
  font-size: 12px;
  line-height: 24px;
}

li {
}

p {
  white-space: pre;
}

textarea {
  outline: none;
  overflow: hidden;
  resize: none;
}

ul {
}

/* // AREA1: 문서 편집용 div 블록 */

div.block_blue {
  background-color: #ddddff;

  border-color: #8888ff;
  border-radius: 8px;
  border-width: 2px;

  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
}
div.block_cyan {
  background-color: #ddffff;

  border-color: #66dddd;
  border-radius: 8px;
  border-width: 2px;

  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
}
div.block_green {
  background-color: #ddffdd;

  border-color: #44ff44;
  border-radius: 8px;
  border-width: 2px;

  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
}
div.block_grey {
  background-color: #f8f8f8;

  border-color: #b8b8b8;
  border-radius: 8px;
  border-width: 2px;

  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
}
div.block_orange {
  background-color: #ffeeb8;

  border-color: #ffbb88;
  border-radius: 8px;
  border-width: 2px;

  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
}
div.block_pink {
  background-color: #ffe0eb;

  border-color: #ff9999;
  border-radius: 8px;
  border-width: 2px;

  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
}
div.block_purple {
  background-color: #ffddff;

  border-color: #ff88ff;
  border-radius: 8px;
  border-width: 2px;

  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
}
div.block_red {
  background-color: #ffdddd;

  border-color: #ff8888;
  border-radius: 8px;
  border-width: 2px;

  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
}
div.block_yellow {
  background-color: #ffffdd;

  border-color: #d8d866;
  border-radius: 8px;
  border-width: 2px;

  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
}
